* {
    border: 1px solid red;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', 'Roboto', sans-serif;
}

strong {
    font-weight: 800;
}

.header-nav,
.header-left,
.header-nav ul,
.content-body .content-body-1 {
    display: flex;
    align-items: center;
}

.header-nav {
    justify-content: space-around;
    flex: none;
    padding: 20px;
    background-color: #1F2937;
}

.header-nav .header-left {
    font-weight: 800;
    font-size: 24px;
    color: #F9FAF8;
    gap: 10px;
}

.header-nav ul {
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap: 10px;
    font-size: 18px;
}

.header-nav a {
    text-decoration: none;
    color: #E5E7EB;
}

.content-body .content-body-1 {
    justify-content: center;
    padding: 25px;
    gap: 115px;
    background-color: #1F2937;
}

.content-body-1 .hero-text-container {
    display: flex;
    flex-direction: column;
    width: 35%;
    gap: 15px;
}

.hero-text-container .hero-text {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 800;
}

.hero-text-container .description {
    color: #E5E7EB;
    font-size: 18px;
}

.hero-text-container button {
    width: 130px;
    height: 40px;
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 10px;
    border-style: none;
    cursor: pointer;
    font-weight: bold;
}

.content-body-1 img {
    height: 300px;
}

.content-body .content-body-2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 55px 125px 125px;
    gap: 40px;
}

.content-body .content-body-header {
    font-size: 36px;
}

.content-body .squares-container {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.squares-container .square-and-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    gap: 12px;
}

.square-and-text-container .square {
    display: flex;
    border: 5px solid #3882F6;
    border-radius: 16px;
    height: 190px;
    width: 190px;
}

.square-and-text-container .text {
    display: flex;
    flex-wrap: wrap;
    font-size: 18px;
    color: #5c5c5c;
    width: 190px;
    text-align: center;
}

.content-body .content-body-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 130px;
    background-color: #E5E7EB;
}

.content-body-3 .quote-main {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    width: 1000px;
    color: #1F2937;
}

.content-body-3 .quote-author {
    display: flex;
    justify-content: flex-end;
    width: 1000px;
    font-weight: bold;
}